
html {
    height: 100%;
}

body {
    background-color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    width: 640px;
    border: 30px solid #753e07;
}

.line {
    height: 80px;
}

.column {
    display: inline-block;
    background-color: white;
    width: 80px;
    height: 80px;
}

.line:nth-child(even) .column:nth-child(odd) {
    background-color: #1a0f02;}
.line:nth-child(odd) .column:nth-child(even) {
    background-color: #1a0f02;}

